<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dad Jokes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The dad joke application that makes dad jokes better, for all of us!" />
    <meta name="twitter:card" content="summary" />
    <meta name="og:title" content="<%=headline%>" />
    <% if(punchline) { %>
    <meta name="og:description" content="<%=punchline%>" />
    <% } %>
    <meta name="og:url" content="https://www.papajoke.com/jokes/<%= _id%>" />
    <meta name="og:image" content="https://www.papajoke.com/public/assets/mustache.png" />
    <style>
        body {
            width: 90%;
            height: 90%;
            padding: 20px;
        }


        .grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "head""article""foot";
            grid-template-rows: 100px 1fr 100px;
            width: 100vw;
            height: 100vh;
            ;
        }


        main {
            display: grid;
            grid-template-rows: 100px 1fr 100px;
            grid-template-columns: 1fr;
            justify-items: center;
            column-gap: 10px;
            padding: 20px;
            height: 100%;
        }

        footer {
            justify-items: center;
            padding: 20px;
        }

        article {
            height: 1fr;
            width: 100%;
        }

        .btn {
            /* default for <button>, but useful for <a> */
            display: inline-block;
            text-align: center;
            text-decoration: none;

            /* create a small space when buttons wrap on 2 lines */
            margin: 0;

            /* invisible border (will be colored on hover/focus) */
            border: solid 1px transparent;
            border-radius: 4px;

            /* size comes from text & padding (no width/height) */
            padding: 0;

            /* make sure colors have enough contrast! */
            color: #EB8400;
            background-color: #FDFBD0;
            font-size: x-large;
        }

        .btn:active {
            transform: translateY(1px);
            filter: saturate(150%);
        }

        .btn:hover {
            color: #9555af;
            background-color: FDFBD0;
        }

        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            min-height: -webkit-fill-available;
        }

        html {
            background-color: var(--app-background-color);
        }

        :root {
            --app-background-color: #FDFBD0
        }

        .headline {
            font-size: 2em;
        }

        .punchline {
            font-size: 1em;
            margin-top: 10px;
            text-align: right;
        }

        /* Large Screen */
        @media (min-width: 768px) {
            .headline {
                font-size: 4em;
            }

            .punchline {
                font-size: 2em;
                margin-top: 50px;
                ;
                text-align: right;
            }
        }

        .headerImg{
            max-width: 100px;
        }
    </style>
</head>

<body>
    <main>
        <header>
            <img class="headerImg" src='../mustache.png' />
            <% for (var i= 0; i < sources.length; i++) { %>
                <a href="<%= sources[i].href%>"><%= sources[i].sourceIdentifier %></a>
            <% } %>
        </header>
        <article>
            <section class="headline">
                <%=headline%>
            </section>
            <section class="punchline">
                <%=punchline%>
            </section>
        </article>
        <footer>Served with 💛 from a Dadabase</footer>
    </main>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E0PVQ1MJ4X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-E0PVQ1MJ4X');
    </script>
</body>

</html>