<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dad Jokes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The dad joke application that makes dad jokes better, for all of us!" />
    <meta name="twitter:card" content="summary" />
    <meta name="og:title" content="<%=headline%>" />
    <meta name="og:description" content="<%=punchline%>" />
    <meta name="og:url" content="https://www.papajoke.com/jokes/<%= _id%>" />
    <meta name="og:image" content="mustache.png"/>
    <style>
        body {
            width: 90%;
            height: 90%;
            padding: 20px;
        }

        dad-joke::part(headline) {
            font-size: 6vw;
        }
    </style>
</head>

<body>
    <div><%= _id%></div>
    <div><%=headline%></div>
    <div><%= punchline%></div>
    <div><%= type%></div>
</body>
</html>